@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&family=Montserrat:wght@100..900&display=swap");

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-epilogue: "Epilogue", sans-serif;

  --color-brown: #74512d;
  --color-darkBrown: #543310;
  --color-mainBackground: #f8f4e1;
  --color-additionBackground: #ded0b6;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* горизонтальний */
}

*::-webkit-scrollbar-thumb {
  background-color: #543310;
  border-radius: 9999px;
}

*::-webkit-scrollbar-track {
  background-color: #543310;
}

/* Підтримка Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #543310 #ded0b6;
}
